name: Prettier Action

on:
  push:
    branches: [main]
  pull_request:
    branches: [main]

permissions:
  contents: write

jobs:
  prettier:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout
        if: github.event_name == 'push'
        uses: actions/checkout@v6
        with:
          ref: ${{ github.head_ref }}
      - name: Checkout
        if: github.event_name == 'pull_request'
        uses: actions/checkout@v6
        with:
          fetch-depth: 2
      - name: Prettify code
        if: github.event_name == 'push'
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --write **/*.{mjs,mts,css,vue,md}
      - name: Prettify code dry run
        if: github.event_name == 'pull_request'
        uses: creyD/prettier_action@v4.6
        with:
          prettier_options: --write **/*.{mjs,mts,css,vue,md}
          only_changed: true
          dry: true
