name: Prettier Action

on:
  pull_request:
    branches: [main]

jobs:
  prettier:
    runs-on: ubuntu-latest

    steps:
      - name: Checkout
        uses: actions/checkout@v4

      - name: Prettify code
        uses: creyD/prettier_action@v4.5
        with:
          prettier_options: --write **/*.{js,ts,md,vue}
          only_changed: true
          dry: true
